.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  height: 60px;
  background: $color-of-background;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  @media (max-width: 899px) {
    width: 100%;
    white-space: nowrap;
  }

  &__img {
    width: 40px;
    margin-top: 3px;
  }
}
